/**
 * Sections: Featured collection
 * -----------------------------------------------------------------------------
 * Base styling for the featured collection product grid.
 *
 */

@media only screen and (min-width: 601px) {
  .featured-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-style: 'Helvetica Neue';
  }

  .col-title {
    position: absolute;
    margin: 25px;
    color: #003366;
    font-size: 40px;
    margin-bottom: 0;
  }

  .col-description {
    margin-top: 90px;
    margin-bottom: 50px;
    text-align: center;
    max-width: 27%;
    color: #9B9B9B;
    font-size: 18px;
    line-height: 25px;
  }

  .prod-parent {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: baseline;
  }

  .product {
    margin: 35px;
    color: #003366;
    text-decoration: none;
    word-wrap: break-word;
    font-size: 26px;
    min-width: 300px;
    max-width: 300px;
    text-align:left;
  }

  .item-image {
    z-index: 1;
    position: absolute;
  }

  .add-cart {
    z-index: 0;
    position: relative;
    background-color: white;
    padding: 45px;
    padding-top: 11px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
  }

  .item-image:hover {
    z-index: -1;
  }

  .add-cart:hover {
    z-index: 1;
  }

  .prod-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 400px;
  }


  .prod-title {
    margin-top: 40px;
    font-weight: bold;
    position: relative;
    margin-bottom: 0;
  }

  .prod-price {
    margin-top: 0;
    color: #9B9B9B;
    font-weight: 400;
    font-size: 18px;
  }

  .view {
    display: flex;
    justify-content: center;
  }

  .button {
    margin: 50px;
    padding: 30px;
    font-size: 23px;
    color: white;
    font-weight: bold;
    background-color: #003366;

  }
}

@media only screen and (max-width: 600px) {
  .featured-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-style: 'Helvetica Neue';
  }

  .col-title {
    position: absolute;
    margin: 25px;
    color: #003366;
    font-size: 30px;
    margin-bottom: 0;
  }

  .col-description {
    margin-top: 90px;
    margin-bottom: 50px;
    text-align: center;
    max-width: 90%;
    color: #9B9B9B;
    font-size: 18px;
    line-height: 25px;
  }

  .prod-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .product {
    color: #003366;
    text-decoration: none;
    word-wrap: break-word;
    font-size: 18px;
    max-width: 300px;
    text-align:left;
  }

  .item-image {
  }

  .add-cart {
    font-size: 15px;
    position: relative;
    padding: 45px;
    padding-top: 7px;
    box-shadow: 1px 1px rgba(118, 116, 122, 0.5);
    padding-bottom: 9px;
    margin-bottom: 3px;
  }


  .prod-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 400px;
    margin-bottom: 50px;
  }

  .prod-title {
    font-weight: bold;
    margin-top: 0;
    font-size: 18px;
    // position: relative;
    margin-bottom: 0;
    text-align: left;
  }
  .prod-price {
    margin-top: 0;
    color: #9B9B9B;
    font-weight: 400;
    font-size: 18px;
  }

  .view {
    display: flex;
    justify-content: center;
  }

  .button {
    margin: 50px;
    padding: 30px;
    font-size: 23px;
    color: white;
    font-weight: bold;
    background-color: #003366;
  }

}
